# IntelliJ
.idea/
*.iml
out/

# Maven
target/

# Environment files
.env

#Claude.md file for Claude AI Code correction
/.claude/
CLAUDE.md

#pom.xml
pom.xml

#MacOS Cache/Log Type Files (used for MacOS to store custom attributes of a folder/file)
.DS_Store
src/.DS_Store
src/main/.DS_Store
